*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* outline: auto; */
}

body {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eef2ff;
}
header {
  height: auto;
  width: 100%;
  outline: 2px solid red;
}
main {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-size: 12px; /* temprary */
}
.icon {
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.heading-area {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.icon--search {
  background-image: url(assets/Monotone\ add.svg);
}
.share {
  padding: 5px 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #4f46e5;
  color: #ffffff;
}
.icon--share {
  background-image: url(assets/ShareNetwork.svg);
}
.upload,
.add {
  padding: 5px;
  border: 1px solid #475569;
  border-radius: 50%;
}
.icon--upload {
  background-image: url(assets/Monotone\ add-1.svg);
}
.icon--add {
  background-image: url(assets/Monotone\ add-2.svg);
}

.task-types {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.types {
  display: flex;
}
.types p {
  padding: 0 5px;
}
.view {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.newest {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #475569;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.icon--down {
  background-image: url(assets/CaretDown.svg);
}

.progress-type {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-pic-of-colabs {
  display: flex;
}
.task-bottom-right {
  display: flex;
  gap: 10px;
}
