*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  outline: auto;
}

body {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eef2ff;
}
header {
  height: auto;
  width: 100%;
  outline: 2px solid red;
}
main {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-size: 12px; /* temprary */
}

.heading-area {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-types {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.types {
  display: flex;
}
.types p {
  padding: 0 5px;
}
.view {
  display: flex;
  gap: 10px;
}

.progress-type {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-pic-of-colabs {
  display: flex;
}
.task-bottom-right {
  display: flex;
  gap: 10px;
}
